.menu {
  width: 100%;
  display: flex;
  padding: 30px 0px;
 
  align-items: center;
  background-color: rgb(253, 251, 251);
}

.menuSecureLogos{
  display: flex;
  gap: 36px;
  align-items: center;
 
}

.menuContent{
  justify-content: space-between;
  align-items: center;
  display: flex;
}