.grid{
    display: grid;
}
.bodyContent{
    padding: 40px;
    box-sizing: border-box;

}

.gridTemplateColumns2{
    grid-template-columns: 1fr 1fr;
}
.grid-template-columns-3{
    grid-template-columns: 1fr 1fr 1fr;
}